/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.font-roboto {
    font-family: "Roboto", sans-serif;
}

/* Letter Spacing */
.letter-spacing-0 {
    letter-spacing: 0em;
}

.letter-spacing-1 {
    letter-spacing: 0.05em;
}

.letter-spacing-2 {
    letter-spacing: 0.1em;
}

.letter-spacing-3 {
    letter-spacing: 0.15em;
}

.letter-spacing-4 {
    letter-spacing: 0.2em;
}

.letter-spacing-5 {
    letter-spacing: 0.3em;
}

/* Gradient */
.button-gradient {
    background: linear-gradient(to right, #2ab7cb, #4694b4);
    border: none;
}

/* Font Size */
.fs-7 {
    font-size: 0.95rem;
}
